<div class="bg_white">
  <div class="header_area">
    <header class="navbar navbar-expand-lg bg-white">
      <div class="container">
        <div class="position-relative w-100">
          <div class="collapse navbar-collapse" id="navbarSupportedContent_menu">
            <ul class="navbar-nav mr-auto mega_menu" *ngIf="parentMenuList!=null && parentMenuList.length>0">
              <div *ngFor="let parentmenus of parentMenuList">
                <div *ngIf="parentmenus.IsChildHas==1">
                  <li class="nav-item">
                    <a class="nav-link down_arrow" [routerLink]="['/productlist']"
                    [queryParams]="{categoryId:parentmenus.EncryptedCategoryId,subcategoryId:parentmenus.EncryptedSubCategoryId,brandId:parentmenus.EncryptedBrandId}" > {{parentmenus.Menu}}</a>
                    <div class="header_mega_menu">
                      <div *ngFor="let level1menus of GetLevel1sList(parentmenus.MenuId)">
                        <ul>
                          <div *ngIf="level1menus.IsChildHas==1">
                            <li class="menu_list_col">
                              <a class="submenu_list" title="{{level1menus.Menu}}" [routerLink]="['/productlist']"
                              [queryParams]="{categoryId:level1menus.EncryptedCategoryId,subcategoryId:level1menus.EncryptedSubCategoryId,brandId:level1menus.EncryptedBrandId}">
                                {{level1menus.Menu}}</a>
                              <ul class="menu_list_item">
                                <li *ngFor="let level2menus of GetLevel1sList(level1menus.MenuId)">
                                  <a title="{{level2menus.Menu}}"  [routerLink]="['/productlist']"
                                    [queryParams]="{categoryId:level2menus.EncryptedCategoryId,subcategoryId:level2menus.EncryptedSubCategoryId,brandId:level2menus.EncryptedBrandId}">{{level2menus.Menu}}</a>
                                </li>
                              </ul>
                            </li>
                          </div>
                          <div *ngIf="level1menus.IsChildHas==0" >
                              <li class="menu_list_col"><a class="submenu_list" title="{{level1menus.Menu}}" [routerLink]="['/productlist']"
                                  [queryParams]="{categoryId:level1menus.EncryptedCategoryId,subcategoryId:level1menus.EncryptedSubCategoryId,brandId:level1menus.EncryptedBrandId}"
                                  >{{level1menus.Menu}}</a></li>
                            </div>
                        </ul>
                      </div>
                    </div>
                  </li>
                </div>
                <div *ngIf="parentmenus.IsChildHas===0">
                  <li class="nav-item"> <a class="nav-link down_arrow" [routerLink]="['/productlist']"
                    [queryParams]="{categoryId:parentmenus.EncryptedCategoryId,subcategoryId:parentmenus.EncryptedSubCategoryId,brandId:parentmenus.EncryptedBrandId}"> {{parentmenus.Menu}}</a></li>
                </div>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </header>
  </div>
</div>