<div class="bg_white">
  <div class="header_area">
    <header class="navbar navbar-expand-lg bg-white">
      <div class="container">
        <div class="position-relative w-100">
          <div class="collapse navbar-collapse" id="navbarSupportedContent_menu">
            <ul class="navbar-nav mr-auto mega_menu">
              <li class="nav-item">
                <a class="nav-link down_arrow" href="#"> Saree</a>
                <div class="header_mega_menu">
                  <ul>
                    <li class="menu_list_col">
                      <h4>Ethnic Wear </h4>
                      <ul class="menu_list_item">
                        <li><a routerLink="">Assam Silk Saree</a></li>
                        <li><a routerLink="">Bhagalpuri Saree</a></li>
                        <li><a routerLink="">Bomkai Sarees</a></li>
                        <li><a routerLink="">Chanderi Saree</a></li>
                        <li><a routerLink="">Dhakai Saree</a></li>
                        <li><a routerLink="">Kalamkari Saree</a></li>
                        <li><a routerLink="">Sambalpuri Saree</a></li>
                        <li><a routerLink="">Bandhani Saree</a></li>
                      </ul>                      
                    </li>
                    <li class="menu_list_col">
                        <h4>Ethnic Wear </h4>
                      <ul class="menu_list_item">
                        <li><a routerLink="">Assam Silk Saree</a></li>
                        <li><a routerLink="">Bhagalpuri Saree</a></li>
                        <li><a routerLink="">Bomkai Sarees</a></li>
                        <li><a routerLink="">Chanderi Saree</a></li>
                        <li><a routerLink="">Dhakai Saree</a></li>
                        <li><a routerLink="">Kalamkari Saree</a></li>
                        <li><a routerLink="">Sambalpuri Saree</a></li>
                        <li><a routerLink="">Bandhani Saree</a></li>
                      </ul>
                    </li>
                    <li class="menu_list_col">
                      <h4>Ethnic Wear </h4>
                      <ul class="menu_list_item">
                        <li><a routerLink="">Assam Silk Saree</a></li>
                        <li><a routerLink="">Bhagalpuri Saree</a></li>
                        <li><a routerLink="">Bomkai Sarees</a></li>
                        <li><a routerLink="">Chanderi Saree</a></li>
                        <li><a routerLink="">Dhakai Saree</a></li>
                        <li><a routerLink="">Kalamkari Saree</a></li>
                        <li><a routerLink="">Sambalpuri Saree</a></li>
                        <li><a routerLink="">Bandhani Saree</a></li>
                      </ul>
                    </li>
                    <li class="menu_list_col">
                      <h4>Ethnic Wear </h4>
                      <ul class="menu_list_item">
                        <li><a routerLink="">Assam Silk Saree</a></li>
                        <li><a routerLink="">Bhagalpuri Saree</a></li>
                        <li><a routerLink="">Bomkai Sarees</a></li>
                        <li><a routerLink="">Chanderi Saree</a></li>
                        <li><a routerLink="">Dhakai Saree</a></li>
                        <li><a routerLink="">Kalamkari Saree</a></li>
                        <li><a routerLink="">Sambalpuri Saree</a></li>
                        <li><a routerLink="">Bandhani Saree</a></li>
                      </ul>
                    </li>
                    <li class="menu_list_col">
                      <h4>Ethnic Wear </h4>
                      <ul class="menu_list_item">
                        <li><a routerLink="">Assam Silk Saree</a></li>
                        <li><a routerLink="">Bhagalpuri Saree</a></li>
                        <li><a routerLink="">Bomkai Sarees</a></li>
                        <li><a routerLink="">Chanderi Saree</a></li>
                        <li><a routerLink="">Dhakai Saree</a></li>
                        <li><a routerLink="">Kalamkari Saree</a></li>
                        <li><a routerLink="">Sambalpuri Saree</a></li>
                        <li><a routerLink="">Bandhani Saree</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link down_arrow" href="#">kurtis</a>
                <div class="header_mega_menu">
                  <ul>
                    <li class="menu_list_col">
                      <h4>Ethnic Wear </h4>
                      <ul class="menu_list_item">
                        <li><a routerLink="">Tail Cut Kurti</a></li>
                        <li><a routerLink="">High-Low Kurti</a></li>
                        <li><a routerLink="">Flared Kurti </a></li>
                        <li><a routerLink="">Poncho Or Kaftan Style Kurti</a></li>
                        <li><a routerLink="">Front Slit Kurti</a></li>
                        <li><a routerLink="">Straight Cut Pintuck Kurti</a></li>
                        <li><a routerLink="">Shirt Style Kurti</a></li>
                        <li><a routerLink="">Angrakha Kurti</a></li>
                      </ul>
                    </li>
                    <li class="menu_list_col">
                      <h4>Ethnic Wear </h4>
                      <ul class="menu_list_item">
                        <li><a routerLink="">Tail Cut Kurti</a></li>
                        <li><a routerLink="">High-Low Kurti</a></li>
                        <li><a routerLink="">Flared Kurti </a></li>
                        <li><a routerLink="">Poncho Or Kaftan Style Kurti</a></li>
                        <li><a routerLink="">Front Slit Kurti</a></li>
                        <li><a routerLink="">Straight Cut Pintuck Kurti</a></li>
                        <li><a routerLink="">Shirt Style Kurti</a></li>
                        <li><a routerLink="">Angrakha Kurti</a></li>
                      </ul>
                    </li>
                    <li class="menu_list_col">
                      <h4>Ethnic Wear </h4>
                      <ul class="menu_list_item">
                        <li><a routerLink="">Tail Cut Kurti</a></li>
                        <li><a routerLink="">High-Low Kurti</a></li>
                        <li><a routerLink="">Flared Kurti </a></li>
                        <li><a routerLink="">Poncho Or Kaftan Style Kurti</a></li>
                        <li><a routerLink="">Front Slit Kurti</a></li>
                        <li><a routerLink="">Straight Cut Pintuck Kurti</a></li>
                        <li><a routerLink="">Shirt Style Kurti</a></li>
                        <li><a routerLink="">Angrakha Kurti</a></li>
                      </ul>
                    </li>
                    <li class="menu_list_col">
                      <h4>Ethnic Wear </h4>
                      <ul class="menu_list_item">
                        <li><a routerLink="">Tail Cut Kurti</a></li>
                        <li><a routerLink="">High-Low Kurti</a></li>
                        <li><a routerLink="">Flared Kurti </a></li>
                        <li><a routerLink="">Poncho Or Kaftan Style Kurti</a></li>
                        <li><a routerLink="">Front Slit Kurti</a></li>
                        <li><a routerLink="">Straight Cut Pintuck Kurti</a></li>
                        <li><a routerLink="">Shirt Style Kurti</a></li>
                        <li><a routerLink="">Angrakha Kurti</a></li>
                      </ul>
                    </li>
                    <li class="menu_list_col">
                      <h4>Ethnic Wear </h4>
                      <ul class="menu_list_item">
                        <li><a routerLink="">Tail Cut Kurti</a></li>
                        <li><a routerLink="">High-Low Kurti</a></li>
                        <li><a routerLink="">Flared Kurti </a></li>
                        <li><a routerLink="">Poncho Or Kaftan Style Kurti</a></li>
                        <li><a routerLink="">Front Slit Kurti</a></li>
                        <li><a routerLink="">Straight Cut Pintuck Kurti</a></li>
                        <li><a routerLink="">Shirt Style Kurti</a></li>
                        <li><a routerLink="">Angrakha Kurti</a></li>
                      </ul>
                    </li>

                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link down_arrow" href="#">Bangles</a>
                <div class="header_mega_menu">
                  <ul>
                    <li class="menu_list_col">
                        <h4>Ethnic Wear </h4>
                      <ul class="menu_list_item">
                        <li><a routerLink="">Silver Metal Bangles</a></li>
                        <li><a routerLink="">Crystal Embellished Bangles</a></li>
                        <li><a routerLink="">Mirror Metal Bangles</a></li>
                        <li><a routerLink="">Golden Metal Bangles</a></li>
                        <li><a routerLink="">Simple Grey Metal Bangles</a></li>
                        <li><a routerLink="">Antique Indian Gold Bangles</a></li>
                      </ul>
                    </li>
                    <li class="menu_list_col">
                        <h4>Ethnic Wear </h4>
                      <ul class="menu_list_item">
                        <li><a routerLink="">Silver Metal Bangles</a></li>
                        <li><a routerLink="">Crystal Embellished Bangles</a></li>
                        <li><a routerLink="">Mirror Metal Bangles</a></li>
                        <li><a routerLink="">Golden Metal Bangles</a></li>
                        <li><a routerLink="">Simple Grey Metal Bangles</a></li>
                        <li><a routerLink="">Antique Indian Gold Bangles</a></li>
                      </ul>
                    </li>
                    <li class="menu_list_col">
                        <h4>Ethnic Wear </h4>
                      <ul class="menu_list_item">
                        <li><a routerLink="">Silver Metal Bangles</a></li>
                        <li><a routerLink="">Crystal Embellished Bangles</a></li>
                        <li><a routerLink="">Mirror Metal Bangles</a></li>
                        <li><a routerLink="">Golden Metal Bangles</a></li>
                        <li><a routerLink="">Simple Grey Metal Bangles</a></li>
                        <li><a routerLink="">Antique Indian Gold Bangles</a></li>
                      </ul>
                    </li>
                    <li class="menu_list_col">
                        <h4>Ethnic Wear </h4>
                      <ul class="menu_list_item">
                        <li><a routerLink="">Silver Metal Bangles</a></li>
                        <li><a routerLink="">Crystal Embellished Bangles</a></li>
                        <li><a routerLink="">Mirror Metal Bangles</a></li>
                        <li><a routerLink="">Golden Metal Bangles</a></li>
                        <li><a routerLink="">Simple Grey Metal Bangles</a></li>
                        <li><a routerLink="">Antique Indian Gold Bangles</a></li>
                      </ul>
                    </li>
                    <li class="menu_list_col">
                        <h4>Ethnic Wear </h4>
                      <ul class="menu_list_item">
                        <li><a routerLink="">Silver Metal Bangles</a></li>
                        <li><a routerLink="">Crystal Embellished Bangles</a></li>
                        <li><a routerLink="">Mirror Metal Bangles</a></li>
                        <li><a routerLink="">Golden Metal Bangles</a></li>
                        <li><a routerLink="">Simple Grey Metal Bangles</a></li>
                        <li><a routerLink="">Antique Indian Gold Bangles</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
  </div>
</div>