<div class="bg_white">
  <div class="header_area">
    <header class="navbar navbar-expand-lg bg-white">
      <div class="container">
        <div class="position-relative w-100">
          <div class="collapse navbar-collapse" id="navbarSupportedContent_menu">
            <ul class="navbar-nav mr-auto mega_menu">
              <li class="nav-item">
                <a class="nav-link down_arrow" href="#"> Saree</a>
                <div class="header_mega_menu">
                  <ul>
                    <li class="menu_list_col">
                      <h4>Ethnic Wear </h4>
                      <ul class="menu_list_item">
                        <li><a routerLink="">Assam Silk Saree</a></li>
                        <li><a routerLink="">Bhagalpuri Saree</a></li>
                        <li><a routerLink="">Bomkai Sarees</a></li>
                        <li><a routerLink="">Chanderi Saree</a></li>
                        <li><a routerLink="">Dhakai Saree</a></li>
                        <li><a routerLink="">Kalamkari Saree</a></li>
                        <li><a routerLink="">Sambalpuri Saree</a></li>
                        <li><a routerLink="">Bandhani Saree</a></li>
                      </ul>                      
                    </li>
                    <li class="menu_list_col">
                      <h4>Ethnic Wear </h4>
                      <ul class="menu_list_item">
                        <li><a routerLink="">Assam Silk Saree</a></li>
                        <li><a routerLink="">Bhagalpuri Saree</a></li>
                        <li><a routerLink="">Bomkai Sarees</a></li>
                        <li><a routerLink="">Chanderi Saree</a></li>
                        <li><a routerLink="">Dhakai Saree</a></li>
                        <li><a routerLink="">Kalamkari Saree</a></li>
                        <li><a routerLink="">Sambalpuri Saree</a></li>
                        <li><a routerLink="">Bandhani Saree</a></li>
                      </ul>
                    </li>
                    <li class="menu_list_col">
                      <h4>Ethnic Wear </h4>
                      <ul class="menu_list_item">
                        <li><a routerLink="">Assam Silk Saree</a></li>
                        <li><a routerLink="">Bhagalpuri Saree</a></li>
                        <li><a routerLink="">Bomkai Sarees</a></li>
                        <li><a routerLink="">Chanderi Saree</a></li>
                        <li><a routerLink="">Dhakai Saree</a></li>
                        <li><a routerLink="">Kalamkari Saree</a></li>
                        <li><a routerLink="">Sambalpuri Saree</a></li>
                        <li><a routerLink="">Bandhani Saree</a></li>
                      </ul>
                    </li>
                    <li class="menu_list_col">
                      <h4>Ethnic Wear </h4>
                      <ul class="menu_list_item">
                        <li><a routerLink="">Assam Silk Saree</a></li>
                        <li><a routerLink="">Bhagalpuri Saree</a></li>
                        <li><a routerLink="">Bomkai Sarees</a></li>
                        <li><a routerLink="">Chanderi Saree</a></li>
                        <li><a routerLink="">Dhakai Saree</a></li>
                        <li><a routerLink="">Kalamkari Saree</a></li>
                        <li><a routerLink="">Sambalpuri Saree</a></li>
                        <li><a routerLink="">Bandhani Saree</a></li>
                      </ul>
                    </li>
                    <li class="menu_list_col">
                      <h4>Ethnic Wear </h4>
                      <ul class="menu_list_item">
                        <li><a routerLink="">Assam Silk Saree</a></li>
                        <li><a routerLink="">Bhagalpuri Saree</a></li>
                        <li><a routerLink="">Bomkai Sarees</a></li>
                        <li><a routerLink="">Chanderi Saree</a></li>
                        <li><a routerLink="">Dhakai Saree</a></li>
                        <li><a routerLink="">Kalamkari Saree</a></li>
                        <li><a routerLink="">Sambalpuri Saree</a></li>
                        <li><a routerLink="">Bandhani Saree</a></li>
                      </ul>
                    </li>
                  </ul>

            <ul class="navbar-nav mr-auto mega_menu" *ngIf="parentMenuList!=null && parentMenuList.length>0">
              <div *ngFor="let parentmenus of parentMenuList">
                <div *ngIf="parentmenus.IsChildHas==1">
                  <li class="nav-item">
                    <a class="nav-link down_arrow" [routerLink]="''" > {{parentmenus.Menu}}</a>
                    <div class="header_mega_menu">
                      <div *ngFor="let level1menus of GetLevel1sList(parentmenus.MenuId)">
                        <ul>
                          <div *ngIf="level1menus.IsChildHas==1">
                            <li class="menu_list_col">
                              <a class="submenu_list" title="{{level1menus.Menu}}" [routerLink]="''">
                                {{level1menus.Menu}}</a>
                              <ul class="menu_list_item">
                                <li *ngFor="let level2menus of GetLevel1sList(level1menus.MenuId)">
                                  <a title="{{level2menus.Menu}}"  [routerLink]="['/productlist']"
                                    [queryParams]="{categoryId:level2menus.EncryptedCategoryId,subcategoryId:level2menus.EncryptedSubCategoryId,brandId:level2menus.EncryptedBrandId}">{{level2menus.Menu}}</a>
                                </li>
                              </ul>
                            </li>
                          </div>
                          <div *ngIf="level1menus.IsChildHas==0" >
                              <li class="menu_list_col"><a class="submenu_list" title="{{level1menus.Menu}}" [routerLink]="['/productlist']"
                                  [queryParams]="{categoryId:level1menus.EncryptedCategoryId,subcategoryId:level1menus.EncryptedSubCategoryId,brandId:level1menus.EncryptedBrandId}"
                                  >{{level1menus.Menu}}</a></li>
                            </div>
                        </ul>
                      </div>
                    </div>
                  </li>

                </div>
                <div *ngIf="parentmenus.IsChildHas===0">
                  <li class="nav-item"> <a class="nav-link down_arrow" href="#"> {{parentmenus.Menu}}</a></li>
                </div>

              </li>
              <li class="nav-item">
                <a class="nav-link down_arrow" href="#">Bangles</a>
                <div class="header_mega_menu">
                  <ul>
                    <li class="menu_list_col">
                        <h4>Ethnic Wear </h4>
                      <ul class="menu_list_item">
                        <li><a routerLink="">Silver Metal Bangles</a></li>
                        <li><a routerLink="">Crystal Embellished Bangles</a></li>
                        <li><a routerLink="">Mirror Metal Bangles</a></li>
                        <li><a routerLink="">Golden Metal Bangles</a></li>
                        <li><a routerLink="">Simple Grey Metal Bangles</a></li>
                        <li><a routerLink="">Antique Indian Gold Bangles</a></li>
                      </ul>
                    </li>
                    <li class="menu_list_col">
                        <h4>Ethnic Wear </h4>
                      <ul class="menu_list_item">
                        <li><a routerLink="">Silver Metal Bangles</a></li>
                        <li><a routerLink="">Crystal Embellished Bangles</a></li>
                        <li><a routerLink="">Mirror Metal Bangles</a></li>
                        <li><a routerLink="">Golden Metal Bangles</a></li>
                        <li><a routerLink="">Simple Grey Metal Bangles</a></li>
                        <li><a routerLink="">Antique Indian Gold Bangles</a></li>
                      </ul>
                    </li>
                    <li class="menu_list_col">
                        <h4>Ethnic Wear </h4>
                      <ul class="menu_list_item">
                        <li><a routerLink="">Silver Metal Bangles</a></li>
                        <li><a routerLink="">Crystal Embellished Bangles</a></li>
                        <li><a routerLink="">Mirror Metal Bangles</a></li>
                        <li><a routerLink="">Golden Metal Bangles</a></li>
                        <li><a routerLink="">Simple Grey Metal Bangles</a></li>
                        <li><a routerLink="">Antique Indian Gold Bangles</a></li>
                      </ul>
                    </li>
                    <li class="menu_list_col">
                        <h4>Ethnic Wear </h4>
                      <ul class="menu_list_item">
                        <li><a routerLink="">Silver Metal Bangles</a></li>
                        <li><a routerLink="">Crystal Embellished Bangles</a></li>
                        <li><a routerLink="">Mirror Metal Bangles</a></li>
                        <li><a routerLink="">Golden Metal Bangles</a></li>
                        <li><a routerLink="">Simple Grey Metal Bangles</a></li>
                        <li><a routerLink="">Antique Indian Gold Bangles</a></li>
                      </ul>
                    </li>
                    <li class="menu_list_col">
                      <h4>Ethnic Wear </h4>
                      <ul class="menu_list_item">
                        <li><a routerLink="">Silver Metal Bangles</a></li>
                        <li><a routerLink="">Crystal Embellished Bangles</a></li>
                        <li><a routerLink="">Mirror Metal Bangles</a></li>
                        <li><a routerLink="">Golden Metal Bangles</a></li>
                        <li><a routerLink="">Simple Grey Metal Bangles</a></li>
                        <li><a routerLink="">Antique Indian Gold Bangles</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </li>

              </div>

            </ul>
          </div>
        </div>
      </div>
    </header>
  </div>
</div>