<div class="container">
	<div class="inner_layout">
		<div class="row">
			<div class="col-md-5">
				<div class="product_details">
					<div class="zoom_img_slider">
						<div class="zoom_img">
							<div class="easyzoom easyzoom--overlay easyzoom--with-thumbnails">
								<a href="{{productFirstImageList.Zoom_Image}}">
									<img src="{{productFirstImageList.Standard_Image}}" alt="" />
								</a>
							</div>
						</div>
					</div>
					<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
						<div ngxSlickItem *ngFor="let image of productImageList" class="slide slider_list">
							<div class="list_item thumbnails">
								<div class="list_header">
									<a href="{{image.Zoom_Image}}" [attr.data-standard]="image.Standard_Image">
										<img src="{{image.Thumbnails_Image}}" alt="">
									</a>

								</div>
							</div>
						</div>
					</ngx-slick-carousel>
				</div>
				<div class="clearfix"></div>
				<div class="bhgxx2">
					<ul class="add_to_cartlist">
						<li *ngIf="!productDetails.IsAvailableInCart">
							<button mat-button class="btn_blue" (click)="AddToCart(productDescription.EncryptedProductDetailsId,productDescription.ProductDetailsId,productDescription.EncryptedProductId,productDescription.ProductId)">ADD
								TO CART</button>
						</li>
						<li>
							<button mat-button class="btn_green" (click)="BuyNow(productDescription.EncryptedProductDetailsId,productDescription.ProductDetailsId,productDescription.EncryptedProductId,productDescription.ProductId)">BUY
								NOW</button>
						</li>
						<li *ngIf="productDetails.IsAvailableInCart">
							<button class="btn_blue" mat-button (click)="router.navigate(['/viewcart']);">Go TO CART</button>
						</li>
						<li *ngIf="commanSetting!=null && commanSetting.IsBulkOrder">
							<button mat-button (click)="OpenBulkOrderModal(productDescription.EncryptedProductDetailsId,productDescription.ProductDetailsId,productDescription.EncryptedProductId,productDescription.ProductId)">BULK
								ORDER</button></li>

					</ul>
				</div>
			</div>
			<div class="col-md-7 single-right-left simpleCart_shelfItem">
				<h3>{{productDetails.ProductName}}</h3>
				<!-- *ngIf="commanSetting!=null && commanSetting.IsPriceVisible" -->
				<p><span class="item_price">₹{{productDescription.Price}}</span> <span class="_dash">-</span>
					<del>₹{{productDescription.MRP}}</del>
				</p>
				<div class="total_rating_review">
					<div class="niH0FQ _2nc08B">
						<span class="avg_rating">
							{{productDescription.RatingAverage}} <mat-icon>star_rate</mat-icon>
						</span>
						<span class="r_rreview">
							<span>
								<span>{{productDescription.TotalRating}}
									Ratings&nbsp;
								</span>
								<span class="_1VpSqZ">&amp;</span>
								<span>&nbsp;{{productDescription.TotalReview}}
									Reviews</span>
							</span>
						</span>
					</div>
				</div>
				<div class="color_list">
					<h4>Color</h4>
					<ul>
						<li *ngFor="let productColor of productColorList" id="swatch-{{productColor.ColorId}}-size">
							<a *ngIf="productColor.IsSelected" [style.background-color]="productColor.ColorCode" title="{{productColor.ColorName}}"
							 routerLink="/productdetails/{{productColor.Url}}">
								<!-- {{productColor.ColorSingleAlphabet}} --></a>
							<a *ngIf="!productColor.IsSelected" [style.background-color]="productColor.ColorCode" title="{{productColor.ColorName}}"
							 routerLink="/productdetails/{{productColor.Url}}">
								<!-- {{productColor.ColorSingleAlphabet}} --></a>
						</li>
					</ul>
				</div>
				<div class="variant_list" *ngFor="let productVariantGroup of productVariantGroupList">
					<h3>{{productVariantGroup.VaraintGroupName}}</h3>
					<ul>
						<li *ngFor="let productVariant of getVariantValueList(productVariantGroup.VariantGroupId)" id="swatch-{{productVariant.VariantValueId}}-size">
							<a *ngIf="productVariant.IsSelected" title="{{productVariant.VariantValueName}}" routerLink="/productdetails/{{productVariant.Url}}">{{productVariant.VariantValueName}}</a>
							<a *ngIf="!productVariant.IsSelected" title="{{productVariant.VariantValueName}}" routerLink="/productdetails/{{productVariant.Url}}">{{productVariant.VariantValueName}}</a>
						</li>
					</ul>
				</div>
				<div class="highlights">
					<h4>Highlights</h4>
					<div class="highlight_dt" [innerHTML]="productDescription.ProductHighlitedDescription"></div>
				</div>

				<div class="highlights specifications" *ngIf="productDetails!=null && productDetails.ProductDetailsSpecificationList!=null && productDetails.ProductDetailsSpecificationList.length>0">
					<h4>Specifications</h4>
					<ul class="p-15">
						<li *ngFor="let specification of productDetails.ProductDetailsSpecificationList"><span>{{specification.Key}}</span>
							<b>{{specification.Value}}</b> </li>
					</ul>
				</div>

				<div class="highlights specifications rw_rating" *ngIf="productDetails!=null && productDetails.ProductDetailsSpecificationList!=null && productDetails.ProductDetailsSpecificationList.length>0">
					<h4>Ratings &amp; Reviews
						<div class="total_rating_review rt_dt">
							<div class="niH0FQ _2nc08B">
								<span class="avg_rating">
									{{productDescription.RatingAverage}} <mat-icon>star_rate</mat-icon>
								</span>
								<span class="r_rreview">
									<span>
										<span>{{productDescription.TotalRating}}
											Ratings&nbsp;
										</span>
										<span class="_1VpSqZ">&amp;</span>
										<span>&nbsp;{{productDescription.TotalReview}}
											Reviews</span>
									</span>
								</span>
							</div>
						</div>
					</h4>
					<div class="p-15">
						<ul *ngIf="productDescription.ReviewRatingList!=null && productDescription.ReviewRatingList.length > 0">
							<li *ngFor="let review of productDescription.ReviewRatingList">
								<div class="total_rating_review">
									<div class="niH0FQ _2nc08B">
										<span class="avg_rating">
											{{review.ReviewRating}} <mat-icon>star_rate</mat-icon>
										</span>
										<span class="r_rreview">
											<span>
												<span>{{review.ReviewTitle}}</span>
											</span>
										</span>
									</div>
								</div>
								<p class="desc">{{review.ReviewDescription}}</p>

								<div class="certified_buyer">
									<div>
										<p>{{review.UserName}} <span>Certified Buyer</span> {{review.ReviewRatingDateWithFormat}}</p>
										<span class="l_d"> <mat-icon>thumb_up</mat-icon>&nbsp; {{review.ReviewLike}} <mat-icon>thumb_down</mat-icon>&nbsp; {{review.ReviewUnLike}}</span>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>