@import "../@theme/_theme.scss";
.product_details{
	border: 1px solid #ddd;
    padding: 20px;
	.list_header{
		margin: 0;
		display: flex;
		img{
			max-height: 60px;
		}
		a{
			margin: 0 auto;
		}
	}
	.slider_list .list_item{
		margin: 5px;
		box-shadow: none;
		border: 1px solid #ddd;
    	padding: 10px;
	}
	.slick-slide{
		outline: 0;
	}
}
.zoom_img{
	display: flex;
	align-items: center;
}
.easyzoom{
	margin: 0 auto;

	img{
		max-width: 360px;
		max-height: 360px;
	}
}

.zoom_img_slider{
	margin-bottom: 15px;
}

