._3wBtPi {
	width: 200px;
	padding: 2px;
	margin: 5px 15px;
	float: left
}

._3wBtPi .Sw6kZ2 {
	font-size: 16px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: right
}

._3wBtPi .mBjPf6 {
	float: right
}

._2sxWXr {
	padding: 5px;
	width: 50px;
	height: 50px;
	float: left;
	overflow: hidden;
	position: relative;
	border: 1px solid #f0f0f0
}

._2sxWXr .hoZMHD {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	margin: auto
}

._1Z9vji {
	height: 80px;
	background: #fff;
	padding: 5px 10px;
	margin: 0 8px
}

._1Z9vji .lVlJHX,
._1Z9vji .NWW_bH {
	font-size: 22px;
	color: #212121;
	vertical-align: middle;
	font-weight: 500;
	float: left;
	padding: 22px 0 22px 22px
}

._1Z9vji ._2tw077 {
	float: right;
	min-width: 300px;
	margin: 10px;
	font-weight: 400
}

._1ZCgAu {
	width: 344px;
	margin: 8px;
	color: #212121;
	background: #fff;
	box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, .16);
	min-height: 528px;
	float: left
}

._1ZCgAu ._3SyFhG {
	padding: 22px;
	height: 64px;
	font-weight: 500;
	font-size: 18px;
	border: solid #e0e0e0;
	border-width: 0 0 1px
}

._1ZCgAu ._1gZBWY {
	background: #fff;
	padding: 22px
}

._1ZCgAu ._1gZBWY ._13cTJo {
	border: solid #e0e0e0;
	border-width: 0 0 1px;
	font-weight: 400;
	margin-bottom: 10px
}

._1ZCgAu ._1gZBWY ._13cTJo ._1RrlUn {
	margin-bottom: 10px;
	font-size: 18px
}

._1ZCgAu ._1gZBWY ._13cTJo ._20QwAZ {
	font-size: 14px;
	margin-bottom: 25px
}

._1ZCgAu ._1gZBWY ._13cTJo ._20QwAZ ._1vqsw_ {
	color: #2874f0
}

._1ZCgAu ._1gZBWY ._13cTJo:last-child {
	border-width: 0;
	margin-bottom: 0
}

.wvjgRW {
	color: #ffe11b
}

._3Hc5hn {
	color: #e0e0e0
}

.kcuK2o {
	unicode-bidi: bidi-override;
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
	float: left;
	cursor: pointer
}

._14Na-3 {
	transition: opacity .1s ease-in-out
}

.kcuK2o ._2tZufY {
	display: inline-block;
	position: relative;
	margin-left: 16px;
	font-size: 28px
}

.kcuK2o ._2tZufY:hover:before,
.kcuK2o ._2tZufY:hover~._2tZufY:before {
	content: "\2605";
	position: absolute;
	color: #ffe11b
}

._1Dk1bd {
	line-height: 3;
	font-weight: 600;
	color: #000
}

.LV79LE,
.sHUoTq,
.XfETOX {
	color: #388e3c
}

._1jV6JI {
	color: #ff9f00
}

._3IFYIT,
._32o8JY._2o5VpG ._1aV0fV,
._32o8JY._2o5VpG ._1AyhZ5 {
	color: #ff6161
}

._32o8JY {
	padding: 15px
}

._32o8JY ._1aV0fV,
._32o8JY ._1AyhZ5 {
	font-size: 12px;
	margin-bottom: 5px
}

._32o8JY ._16nh-W {
	outline: none;
	border: none;
	width: 100%;
	font-size: 14px;
	font-weight: 400;
	resize: none
}

._32o8JY.ofBQLv ._1AyhZ5 {
	color: #2874f0
}

._2onsaO ._16nh-W {
	height: 100px
}

._3bf835 {
	float: right
}

._2rfo2u {
	float: none;
	width: auto;
	overflow: hidden;
	position: relative;
	background: #fff;
	margin: 8px 8px 0 0;
	box-shadow: 0 1px 3px -1px rgba(0, 0, 0, .4);
	min-height: 528px
}

._2rfo2u ._3oe6G6:focus {
	outline: none
}

._2rfo2u ._3AwHsn,
._2rfo2u ._3zS_0H {
	padding: 20px 22px;
	color: #212121;
	background: #fff
}

._2rfo2u ._3AwHsn ._1O_Sj9,
._2rfo2u ._3zS_0H ._1O_Sj9 {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 20px
}

._2rfo2u ._3AwHsn {
	height: 110px
}

._2rfo2u ._3AwHsn ._3lM63h.Huglld {
	color: #ff6161
}

._2rfo2u ._3AwHsn ._1O_Sj9 {
	margin-bottom: 10px
}

._2rfo2u ._3AwHsn ._3lM63h {
	float: right;
	font-size: 12px;
	margin-top: 15px;
	margin-right: 15px
}

._2rfo2u ._3AwHsn ._3lM63h._1tudS1 {
	color: #878787
}

._2rfo2u ._3AwHsn .Kj7FZF {
	color: #e0e0e0
}

._2rfo2u ._3zS_0H ._2ynvot {
	border: 1px solid #e0e0e0;
	border-radius: 2px
}

._2rfo2u ._3zS_0H ._2ynvot ._1b7zWX,
._2rfo2u ._3zS_0H ._2ynvot ._2Vq_k8 {
	padding: 15px
}

._2rfo2u ._3zS_0H ._2ynvot ._1b7zWX ._1huZCe,
._2rfo2u ._3zS_0H ._2ynvot ._2Vq_k8 ._1huZCe {
	font-size: 12px;
	margin-bottom: 5px
}

._2rfo2u ._3zS_0H ._2ynvot ._1b7zWX ._2lNh_V,
._2rfo2u ._3zS_0H ._2ynvot ._2Vq_k8 ._2lNh_V {
	outline: none;
	border: none;
	width: 100%;
	font-size: 14px;
	font-weight: 400
}

._2rfo2u ._3zS_0H ._2ynvot ._2Vq_k8 ._2lNh_V {
	height: 100px
}

._2rfo2u ._3oe6G6 {
	width: 250px;
	height: 55px;
	border-radius: 2px;
	background-color: #fb641b;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	float: right;
	margin: 0 22px 20px 0;
	border: none;
	color: #f0f0f0;
	cursor: pointer
}

._2rfo2u ._3oe6G6:disabled {
	opacity: .6
}

._2qU1N7 {
	background: #e0e0e0;
	height: 1px;
	border: 0
}

._1v1y1A {
	float: right
}

._2vvRAH {
	min-width: 978px;
	margin: 8px auto 0;
	overflow: hidden;
	position: relative
}

._39G8Ox,
._269OP5 {
	padding-top: 133px;
	margin: 8px 8px 0;
	min-height: 500px;
	background: #fff
}

._3KMsCk {
	float: none;
	width: auto;
	overflow: hidden;
	position: relative;
	min-height: 300px;
	background: #fff;
	margin: 8px 8px 0 0;
	box-shadow: 0 1px 3px -1px rgba(0, 0, 0, .4);
	padding: 150px 0
}

._2z2sqF {
	position: absolute;
	top: 133px;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #c2c2c2;
	opacity: .6
}

._2z2sqF ._3fX1k7 {
	margin-top: 200px;
	color: #878787
}

._3X6CC3 {
	padding-top: 8px
}

._3X6CC3 ._1hhliZ {
	max-width: 1366px;
	min-width: 978px;
	margin: 8px auto 0
}

._3X6CC3 ._1hhliZ .owgplv {
	padding: 32px;
	border-bottom: 1px solid #f0f0f0;
	font-weight: 500;
	font-size: 22px;
	color: #212121
}

._3X6CC3 ._1hhliZ ._1Zk21- {
	font-size: 14px;
	padding: 32px
}

._3X6CC3 ._1hhliZ ._3sw6Ub {
	margin: 32px 0 32px 32px;
	display: inline-block;
	max-width: 232px;
	background-color: #fff
}

._3X6CC3 ._1hhliZ ._3sw6Ub .P3ETrn {
	box-sizing: inherit;
	margin-bottom: 24px
}

._3X6CC3 ._1hhliZ ._3sw6Ub ._2hU8nC {
	font-size: 14px;
	color: #212121
}

._3X6CC3 ._1hhliZ ._3sw6Ub ._3cPzR5 {
	border-top: 1px solid #f0f0f0;
	padding: 8px 0;
	font-size: 14px;
	font-weight: 500;
	color: #2874f0;
	cursor: pointer
}

._1XsgH5 {
	padding: 16px 0 12px;
	overflow: auto;
	zoom: 1
}