<div class="container" style="width:100%" >
  <div class="_2vvRAH">
    <div class="_1Z9vji">
      <div class="NWW_bH"><span>Ratings &amp; Reviews</span></div>
      <div class="_2tw077"><a *ngIf="productDetails!=null && productDetails.SEO_URL!=''"
        routerLink="/productdetails/{{productDetails.SEO_URL}}"
        [queryParams]="{p:productDetails.EncryptedProductId,pd:productDetails.EncryptedProductDetailsId}">
          <div class="_3wBtPi">
            <div class="Sw6kZ2"><span>{{productData.ProductName}}</span></div>
            <div class="mBjPf6">
              <div class="niH0FQ _36Fcw_"><span id="productRating_undefined_undefined_" class="_2_KrJI">
                  <div class="hGSR34">{{productDetails.RatingAverage}}<img
                      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYuNSA5LjQzOWwtMy42NzQgMi4yMy45NC00LjI2LTMuMjEtMi44ODMgNC4yNTQtLjQwNEw2LjUuMTEybDEuNjkgNC4wMSA0LjI1NC40MDQtMy4yMSAyLjg4Mi45NCA0LjI2eiIvPjwvc3ZnPg=="
                      class="_2lQ_WZ"></div>
                </span><span class="_38sUEc">{{productDetails.TotalRating}}</span></div>
            </div>
          </div>
          <div class="_2sxWXr"><img src="{{baseImageUrl}}{{productImageList.Thumbnails_Image}}" class="hoZMHD"></div>
        </a>
        <a *ngIf="productDetails!=null && productDetails.SEO_URL===''"
        routerLink="/productdetails"
        [queryParams]="{p:productDetails.EncryptedProductId,pd:productDetails.EncryptedProductDetailsId}">
          <div class="_3wBtPi">
            <div class="Sw6kZ2"><span>{{productData.ProductName}}</span></div>
            <div class="mBjPf6">
              <div class="niH0FQ _36Fcw_"><span id="productRating_undefined_undefined_" class="_2_KrJI">
                  <div class="hGSR34">{{productDetails.RatingAverage}}<img
                      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYuNSA5LjQzOWwtMy42NzQgMi4yMy45NC00LjI2LTMuMjEtMi44ODMgNC4yNTQtLjQwNEw2LjUuMTEybDEuNjkgNC4wMSA0LjI1NC40MDQtMy4yMSAyLjg4Mi45NCA0LjI2eiIvPjwvc3ZnPg=="
                      class="_2lQ_WZ"></div>
                </span><span class="_38sUEc">{{productDetails.TotalRating}}</span></div>
            </div>
          </div>
          <div class="_2sxWXr"><img src="{{baseImageUrl}}{{productImageList.Thumbnails_Image}}" class="hoZMHD"></div>
        </a>
      </div>
    </div>
    <div class="_1ZCgAu">
      <div class="_3SyFhG"><span>What makes a good review</span></div>
      <div class="_1gZBWY">
        <div class="_13cTJo">
          <div class="_1RrlUn"><span>Have you used this product?</span></div>
          <div class="_20QwAZ"><span>Your review should be about your experience with the product.</span></div>
        </div>
        <div class="_13cTJo">
          <div class="_1RrlUn"><span>Why review a product?</span></div>
          <div class="_20QwAZ"><span>Your valuable feedback will help fellow shoppers decide!</span></div>
        </div>
        <div class="_13cTJo">
          <div class="_1RrlUn"><span>How to review a product?</span></div>
          <div class="_20QwAZ"><span>Your review should include facts. An honest opinion is always appreciated. If you
              have an issue with the product or service please contact us from the </span><a class="_1vqsw_"
              href="/helpcentre" title="help centre."><span>help centre.</span></a></div>
        </div>
      </div>
    </div>
    <div class="_2rfo2u">
      <div class="_3AwHsn">
        <div class="_1O_Sj9"><span>Rate this product</span></div>
        <rating [(ngModel)]="reviewModel.ReviewRating" [disabled]="false" (click)="SaveRating(reviewModel.ReviewRating)">
        </rating>
      </div>
      <hr class="_2qU1N7">
      <form (ngSubmit)="reviewForm.form.valid && onSubmit()" #reviewForm="ngForm" *ngIf="reviewModel!=null">
        <div class="_3zS_0H">
          <div class="_1O_Sj9"><span>Review this product</span></div>
          <div class="_2ynvot">
            <div class="_32o8JY">
              <input type="hidden" [ngModel]="reviewModel.ReviewRatingId" [ngModelOptions]="{standalone: true}">
              <mat-form-field class="example-full-width">
                <textarea matInput  placeholder="Description..." [(ngModel)]="reviewModel.ReviewDescription"
                  name="reviewDescription" #reviewDescription="ngModel"
                  [ngClass]="{ 'is-invalid': reviewForm.submitted && reviewDescription.invalid }" required></textarea>
                <div *ngIf="reviewForm.submitted && reviewDescription.invalid" class="invalid-feedback">
                </div>
              </mat-form-field>
            </div>
            <hr class="_2qU1N7">
            <div class="_32o8JY">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Title (optional)" [(ngModel)]="reviewModel.ReviewTitle" name="reviewTitle"
                  #reviewTitle="ngModel">
              </mat-form-field>
            </div>
          </div>
        </div> <button class="_2AkmmA _3oe6G6 _7UHT_c">Submit</button>
      </form>
    </div>
  </div>
</div>