<footer class="footer pb-0">
    <div class="container">
        <div class="row" *ngIf="parentMenuList!=null && parentMenuList.length>0">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-3" *ngFor="let parentmenus of parentMenuList">
                        <div *ngIf="parentmenus.IsChildHas==1">
                            <h3>{{parentmenus.Menu}}</h3>
                            <ul class="footer_list">
                                <li *ngFor="let childMenu of GetLevel1sList(parentmenus.MenuId)">
                                    <a routerLink="{{childMenu.Url}}"
                                        [queryParams]="{q:childMenu.EncryptedMenuId}">{{childMenu.Menu}}</a>
                                </li>
                            </ul>
                        </div>
                        <div *ngIf="parentmenus.IsChildHas==0">
                            <h3>{{parentmenus.Menu}}</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <h3>Mail Us</h3>
              <p>{{settingModel.MailUs}}</p>
            </div>
            <div class="col-sm-2">
                <h3>Registered Office Address</h3>
                <p >{{settingModel.RegisteredOfficeAddress}}</p>
                
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <p class="arr">© ecommerce, All Rights Reserved.</p>
                </div>
                <div class="col-sm-5">
                    <ul class="footer_list d-flex float-right">

                        <li class="mr-5"><a routerLink="">Disclaimer </a></li>
                        <li class="mr-5"><a routerLink="">Terms &amp; Conditions </a></li>
                        <li class="mr-5"><a routerLink="">Privacy </a></li>

                        <li class="mr-5"><a href="javascript:void(0);">Disclaimer </a></li>
                        <li class="mr-5"><a href="javascript:void(0);">Terms &amp; Conditions </a></li>
                        <li class="mr-5"><a href="javascript:void(0);">Privacy </a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>