<div class="container">
  <div class="_1Ua1Gl" style="margin-left:-100px;">
    <div class="row _2e3-6j">
      <div class="_3B4tat">
        <div class="_7XMNLT" *ngIf="!isLogged">
          <div class="_1GRhLX _38vNoF">
            <h3 class="_1fM65H _2RMAtd"><span class="_1Tmvyj">1</span><span class="_1_m52b">Login or Signup</span>
            </h3>
            <div class="_3K1hJZ">
              <div>
                <div class="_30BGxP row">
                  <div class="col col-5-12">
                    <div class="_6Ip9N2">
                      <form autocomplete="on" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="_39M2dM _2ZvOfP">
                          <input type="text" autocomplete="off" formControlName="username"
                            class="_2zrpKA _2rqcw- _2VUCMV _3v41xv _14H79F"
                            [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">Username is required</div>
                          </div>

                          <span class="s-YM1W _2rqcw-"></span>
                          <label class="b5konl _2rqcw-"><span>Enter Email/Mobile number</span></label>
                        </div>
                        <div class="_39M2dM _2ZvOfP">
                          <input type="password" autocomplete="off" formControlName="password"
                            class="_2zrpKA _3v41xv _14H79F"
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                          </div><span class="s-YM1W"></span><label class="b5konl"><span>Enter Password</span></label>
                        </div>
                        <div class="_2CQ7Aq">
                          <button class="_2AkmmA _1poQZq _7UHT_c" [disabled]="loading" type="submit">
                            <div class="_2VTdOs _1_qmw3"><svg class="_2zN0mv" viewBox="25 25 50 50">
                                <circle stroke="#fff" class="_1VgS7d" cx="50" cy="50" r="20" fill="none"
                                  stroke-width="5" stroke-miterlimit="10"></circle>
                              </svg></div><span>Login</span>
                          </button></div>
                      </form>
                    </div>
                  </div>
                  <div class="bJ-rGc col col-7-12">
                    <div class="_20vGl7"><span>Advantages of our secure login</span>
                      <ul>
                        <li class="YCDg8X"><svg width="18" height="18" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg" class="cpY4Rk">
                            <g fill="none" fill-rule="evenodd">
                              <path
                                d="M9.466 18.257h4.87c0 1.764 1.42 3.195 3.174 3.195a3.185 3.185 0 0 0 3.175-3.195H22.5c.276 0 .499-.23.499-.496v-5.57l-3.273-4.868h-3.261V4.645a.497.497 0 0 0-.497-.502H1.497A.498.498 0 0 0 1 4.645v13.11c0 .277.219.502.497.502h1.62a3.185 3.185 0 0 0 3.175 3.195 3.185 3.185 0 0 0 3.174-3.195zm6.978-8.381H18.7l2.214 3.057h-4.47V9.876zm2.644 8.381c0 .877-.706 1.588-1.578 1.588a1.583 1.583 0 0 1-1.578-1.588c0-.877.706-1.588 1.578-1.588.872 0 1.578.71 1.578 1.588zm-11.218 0c0 .877-.707 1.588-1.578 1.588a1.583 1.583 0 0 1-1.579-1.588c0-.877.707-1.588 1.579-1.588.871 0 1.578.71 1.578 1.588z"
                                fill="#2874f0"></path>
                            </g>
                          </svg><span>Easily Track Orders, Hassle free Returns</span></li>
                        <li class="YCDg8X"><svg class="cpY4Rk" width="18" height="18"
                            xmlns="http://www.w3.org/2000/svg">
                            <g fill="none" fill-rule="evenodd">
                              <path class="cpY4Rk"
                                d="M8.037 17.546c1.487 0 2.417-.93 2.417-2.417H5.62c0 1.486.93 2.415 2.417 2.415m5.315-6.463v-2.97h-.005c-.044-3.266-1.67-5.46-4.337-5.98v-.81C9.01.622 8.436.05 7.735.05 7.033.05 6.46.624 6.46 1.325v.808c-2.667.52-4.294 2.716-4.338 5.98h-.005v2.972l-1.843 1.42v1.376h14.92v-1.375l-1.842-1.42z">
                              </path>
                            </g>
                          </svg><span>Get Relevant Alerts and Recommendation</span></li>
                        <li class="YCDg8X"><span class="cpY4Rk">★</span><span>Wishlist, Reviews, Ratings and
                            more.</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="_7XMNLT" *ngIf="isLogged">
          <div class="_1GRhLX _38vNoF">
            <div class="_1QbRjw">
              <h3 class="_2RMAtd"><span class="_1Tmvyj">1</span></h3>
              <div class="_3FNwOm">
                <div class="_1_m52b">Login<svg height="10" width="16" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg" class="_3baQOY">
                    <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" stroke="#2974f0"></path>
                  </svg></div>
                <div class="_2jDL7w">
                  <div><span class="dNZmcB">{{userName}}</span>
                    <!-- <span class="_3MeY5j">8560031036</span> -->
                  </div>
                </div>
              </div>
              <!-- <button class="_3Jk8fm">Change</button> -->
            </div>
          </div>
        </div>
        <div class="_7XMNLT" *ngIf="isLogged">
          <app-customer-address></app-customer-address>
        </div>
        <div class="_7XMNLT" *ngIf="isLogged">
          <app-order-summary></app-order-summary>
        </div>
        <div class="_7XMNLT" *ngIf="isLogged">
          <app-payment-options></app-payment-options>
        </div>
      </div>

      <div class="_2qUgWb _3uHNGv _3CKRe3" style="height: auto;"
        *ngIf="isLogged && productData!=null && productData.TotalItems">
        <div class="_2zqhDs _1lD380" style="left: auto; top: 248.6px;">
          <div class="_13wOiu"><span class="_2huYiT">Price details</span>
            <div class="_2twTWD">
              <div class="hJYgKM">Price ({{productData.TotalItems}})<span> ₹{{productData.TotalPrice}}</span></div>
              <div class="hJYgKM">Delivery Charges<span><span class="_27kB8M _3Oa-sk">Free</span></span></div>
              <div class="_3xFQAD">
                <div class="hJYgKM">Amount Payable<span> ₹{{productData.TotalPayableAmount}}</span></div>
              </div>
            </div>
            <div class="_34jRkt"><span class="_27kB8M">Your Total Savings on this order <div class="QE-hRv">
                  ₹<span>1,140</span></div></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>