<div class="checkout">
  <div class="container inner_container">
    <div class="row">
      <div class="col-sm-8">

        <mat-vertical-stepper [linear]="isLinear" #stepper>
          <mat-step label="Login" [completed]="isLogged">
            <div *ngIf="!isLogged">
              <form (ngSubmit)="loginForm.form.valid && onLogin(stepper)" #loginForm="ngForm" *ngIf="loginModel!=null">
                <div class="col-sm-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email Id/ Mobile" [(ngModel)]="loginModel.EmailModile"
                      name="emailMobile" #emailMobile="ngModel"
                      [ngClass]="{ 'is-invalid': loginForm.submitted && emailMobile.invalid }" required />
                    <div *ngIf="loginForm.submitted && emailMobile.invalid" class="invalid-feedback">
                    </div>
                  </mat-form-field>
                </div>
                <div class="col-sm-12">
                  <mat-form-field class="example-full-width">
                    <input matInput type="password" placeholder="Password" [(ngModel)]="loginModel.Password"
                      name="password" #password="ngModel"
                      [ngClass]="{ 'is-invalid': loginForm.submitted && password.invalid }" required />
                    <div *ngIf="loginForm.submitted && password.invalid" class="invalid-feedback">
                    </div>
                  </mat-form-field>
                </div>
                <button type="submit" mat-button class="btn_green">Login</button>
              </form>

            </div>
            <p *ngIf="isLogged">{{userName}}</p>
            <div *ngIf="isLogged">
              <button mat-button matStepperNext class="btn_green">Next</button>
            </div>
          </mat-step>
          <mat-step label="Delivery Address">
            <div>
              <div class="address_details" *ngFor="let address of customerAddressList">
                <div class="address">
                  <p class="label">{{address.AddressTypeName}}</p>
                  <p><b>{{address.Name}}</b></p>
                  <p>{{address.Address}} , {{address.CityName}} - {{address.PinCode}} , {{address.StateName}}</p>
                  <p><b>Phone</b> {{address.MobileNumber}}</p>
                </div>
                <div class="r_invoice">
                  <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                    name="address">
                    <mat-radio-button class="example-radio-button" [value]="address.EncryptedAddressId" name="address"
                      (click)="SetAddressId(address.EncryptedAddressId)">
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <div class="address_details">
                <span class="addNewAddress" *ngIf="!isAddNewAddress" (click)="OpenAddNewAddress()">ADD
                  New Address</span>
                <div class="add_address" *ngIf="isAddNewAddress">
                  <div class="address">
                    <h4>Manage Addresses </h4>
                  
                  <div class="r_invoice">
                    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                      name="address">
                      <mat-radio-button class="example-radio-button" checked name="address">
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
                  <form (ngSubmit)="f.form.valid && SaveAddress(stepper)" #f="ngForm" class="form-group">
                    <div class="row">
                      <input type="hidden" [ngModel]="customerAddress.AddressId" [ngModelOptions]="{standalone: true}" />
                      <div class="col-sm-6">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Name" [(ngModel)]="customerAddress.Name" name="Name"
                            #Name="ngModel" maxlength="50" [ngClass]="{ 'is-invalid': f.submitted && Name.invalid }"
                            required>
                        </mat-form-field>
                      </div>

                      <div class="col-sm-6">
                        <mat-form-field class="example-full-width">
                          <input matInput AllowNumeric="true" placeholder="Mobile"
                            [(ngModel)]="customerAddress.MobileNumber" minlength="10" maxlength="10" name="mobile"
                            #mobile="ngModel" [ngClass]="{ 'is-invalid': f.submitted && mobile.invalid }" required>
                        </mat-form-field>
                      </div>

                      <div class="col-sm-6">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Pincode" [(ngModel)]="customerAddress.PinCode" name="pin"
                            maxlength="6" #pin="ngModel" [ngClass]="{ 'is-invalid': f.submitted && pin.invalid }"
                            required>
                        </mat-form-field>
                      </div>

                      <div class="col-sm-12">
                        <mat-form-field class="example-full-width">
                          <textarea matInput placeholder="Locality" [(ngModel)]="customerAddress.Address"
                            name="customeraddress" #customeraddress="ngModel"
                            [ngClass]="{ 'is-invalid': f.submitted && customeraddress.invalid }" required></textarea>
                        </mat-form-field>
                      </div>

                      <div class="col-sm-6">
                        <mat-form-field class="example-full-width">
                          <mat-label>City</mat-label>
                          <mat-select [(ngModel)]="customerAddress.CityIdWithFormat" name="city" #state="ngModel">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let city of cities" value="{{city.Value}}">
                              {{city.Text}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>

                      <div class="col-sm-6">
                        <mat-form-field>
                          <mat-label>State</mat-label>
                          <mat-select [(ngModel)]="customerAddress.StateIdWithFormat" name="state" #state="ngModel"
                            (selectionChange)="onStateChange(customerAddress.StateIdWithFormat)">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let state of customerAddress.StateList" value="{{state.Value}}">
                              {{state.Text}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>

                    </div>
                    <div class="form-group my-20">
                      <label>Address Type</label>
                      <div class="mt-10">
                        <mat-radio-group aria-label="Select an option"
                          [(ngModel)]="customerAddress.AddressTypeWithFormat" name="addressType" #addressType="ngModel">
                          <mat-radio-button class="mr-15" value="1">Home</mat-radio-button>
                          <mat-radio-button value="2">Work</mat-radio-button>
                        </mat-radio-group>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <button mat-button class="btn_green">Save</button>
                        <button mat-button type="button" class="btn_blue" (click)="isAddNewAddress=!isAddNewAddress">Cancel</button>
                      </div>
                    </div>
                  </form>
                </div>

              </div>
              <button mat-button matStepperPrevious class="btn_blue mat-button" *ngIf="!isAddNewAddress">Back</button>
              <button mat-button *ngIf="!isAddNewAddress && selectedAddressId!=''" (click)="OpenOrderSummary(stepper)" class="btn_green" type="button">Deliver
                Here</button>

            </div>
          </mat-step>
          <mat-step label="Order Summary">
            <div class="cart_list" *ngIf="productCartList!=null && productCartList.length>0 && isOrderSummaryVisible">
              <div *ngFor="let cart of productCartList" class="_3ycxrs">
                <div class="cart_item">
                  <div class="cart_d">
                    <a *ngIf="cart.ProductSEOUrl!=''" target="_blank"
                      routerLink="/productdetails/{{cart.ProductSEOUrl}}"
                      [queryParams]="{p:cart.EncryptedProductId,pd:cart.EncryptedProductDetailsId}">
                      <img src="{{cart.ProductImageUrl}}"></a>


                    <a *ngIf="cart.ProductSEOUrl===''" routerLink="/productdetails"
                      [queryParams]="{p:cart.EncryptedProductId,pd:cart.EncryptedProductDetailsId}">
                      <img src="{{cart.ProductImageUrl}}"></a>
                    <div class="cart_item_details">
                      <div class="cart_item_name">
                        <a *ngIf="cart.ProductSEOUrl!=''" target="_blank"
                          routerLink="/productdetails/{{cart.ProductSEOUrl}}"
                          [queryParams]="{p:cart.EncryptedProductId,pd:cart.EncryptedProductDetailsId}">{{cart.ProductName}}</a>
                        <a *ngIf="cart.ProductSEOUrl===''" routerLink="/productdetails"
                          [queryParams]="{p:cart.EncryptedProductId,pd:cart.EncryptedProductDetailsId}">{{cart.ProductName}}</a>
                      </div>
                      <span *ngIf="isPriceVisible" class="cart_price">₹{{cart.Price}}</span>
                      <span  *ngIf="isPriceVisible" class="cart_mrp">₹{{cart.MRP}}</span>
                    </div>
                    <div class="delivery_details">
                      <ul>
                        <li *ngIf="cart.ExpectedDelivaryDateWithFormat!=''">
                          Delivery by, {{cart.ExpectedDelivaryDateWithFormat}}
                        </li>
                        <li *ngIf="cart.ReplacementDays>0 && cart.IsReplacementAvailable==true">
                          <span>{{cart.ReplacementDays}} Days Replacement Policy</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="_3cto0P">
                  <div class="_3RkJty">
                    <div class="_3md1dr">
                      <button *ngIf="cart.ProductQuantity>cart.MinimumCartQuantity"
                        (click)="SubtractProductQuantity(cart.EncryptedProductDetailsId,cart.ProductDetailsId,cart.EncryptedProductId,cart.ProductQuantity,cart.MinimumCartQuantity)"
                        class="cart_desc"> –
                      </button>

                      <button *ngIf="!(cart.ProductQuantity>cart.MinimumCartQuantity)"
                        (click)="SubtractProductQuantity(cart.EncryptedProductDetailsId,cart.ProductDetailsId,cart.EncryptedProductId,cart.ProductQuantity,cart.MinimumCartQuantity)"
                        class="cart_desc" disabled="disabled"> – </button>
                      <div class="no_of_product">
                        <input type="text" value="{{cart.ProductQuantity}}" class="_2csFM9" readonly=""></div>
                      <button *ngIf="(cart.ProductQuantity!=cart.MaximumCartQuantity)"
                        (click)="AddProductQuantity(cart.EncryptedProductDetailsId,cart.ProductDetailsId,cart.EncryptedProductId,cart.ProductQuantity,cart.MaximumCartQuantity)"
                        class="cart_desc"> +</button>
                      <button *ngIf="(cart.MaximumCartQuantity==cart.ProductQuantity)"
                        (click)="AddProductQuantity(cart.EncryptedProductDetailsId,cart.ProductDetailsId,cart.EncryptedProductId,cart.ProductQuantity,cart.MaximumCartQuantity)"
                        class="cart_desc" disabled="disabled"> +</button>
                    </div>
                  </div>
                  <div class="save_for_later">
                    <button mat-button
                      (click)="RemoveProduct(cart.EncryptedProductDetailsId,cart.ProductDetailsId)">Remove
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="isOrderSummaryVisible">
              <button mat-button matStepperPrevious class="btn_blue mat-button">Back</button>
              <button mat-button (click)="OpenPaymentOptions(stepper)" type="button" class="btn_green">Continue</button>
            </div>
          </mat-step>
          <mat-step label="Payment Options">
            <div class="form-group my-20">
              <mat-radio-button *ngIf="isPaymentOptionsVisible" [value]="COD" name="paymentOptions"
                (click)="SetPaymentOptions(1)">
              </mat-radio-button>
              <label *ngIf=" isLogged && isPaymentOptionsVisible">Cash On Delivery</label>
              <div *ngIf="isLogged && isPaymentOptionsVisible ">
                <button mat-button matStepperPrevious class="btn_blue mat-button">Back</button>
                <button *ngIf="paymentType>0" class="btn_green" mat-button (click)="SaveOrderDetails()"
                  type="button">Continue</button>
              </div>
            </div>
          </mat-step>

        </mat-vertical-stepper>
      </div>
      <div class="col-md-4" *ngIf="productData!=null && isPriceVisible">
        <div class="inner_layout p-0">
          <div class="price_details">
            <h4>Price details</h4>
            <div class="price_description">
              <div class="price_dt">
                <div class="price">Price ({{productData.TotalItems}})<span> ₹{{productData.TotalPrice}}</span></div>
                <div class="delivery">Delivery Charges<span>Free</span></div>
                <div class="amount">Amount Payable<span> ₹{{productData.TotalPayableAmount}}</span></div>
              </div>
            </div>
            <div class="total_saving"><span class="_27kB8M">Your Total Savings on this order
                ₹<span>{{productData.TotalDiscountAmountWithFormat}}</span></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container inner_container">
  <div class="row">
    <div class="col-sm-8">
      <div class="_3B4tat">
        <div class="_7XMNLT" *ngIf="!isLogged">
          <div class="_1GRhLX _38vNoF">
            <h3 class="_1fM65H _2RMAtd"><span class="_1Tmvyj">1</span><span class="_1_m52b">Login or Signup</span>
            </h3>
            <div class="_3K1hJZ">
              <div>
                <div class="_30BGxP row">
                  <div class="col col-5-12">
                    <div class="_6Ip9N2">
                      <form autocomplete="on" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="_39M2dM _2ZvOfP">
                          <input type="text" autocomplete="off" formControlName="username"
                            class="_2zrpKA _2rqcw- _2VUCMV _3v41xv _14H79F"
                            [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">Username is required</div>
                          </div>

                          <span class="s-YM1W _2rqcw-"></span>
                          <label class="b5konl _2rqcw-"><span>Enter Email/Mobile number</span></label>
                        </div>
                        <div class="_39M2dM _2ZvOfP">
                          <input type="password" autocomplete="off" formControlName="password"
                            class="_2zrpKA _3v41xv _14H79F"
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                          </div><span class="s-YM1W"></span><label class="b5konl"><span>Enter Password</span></label>
                        </div>
                        <div class="_2CQ7Aq">
                          <button class="_2AkmmA _1poQZq _7UHT_c" [disabled]="loading" type="submit">
                            <div class="_2VTdOs _1_qmw3"><svg class="_2zN0mv" viewBox="25 25 50 50">
                                <circle stroke="#fff" class="_1VgS7d" cx="50" cy="50" r="20" fill="none"
                                  stroke-width="5" stroke-miterlimit="10"></circle>
                              </svg></div><span>Login</span>
                          </button></div>
                      </form>
                    </div>
                  </div>
                  <div class="bJ-rGc col col-7-12">
                    <div class="_20vGl7"><span>Advantages of our secure login</span>
                      <ul>
                        <li class="YCDg8X"><svg width="18" height="18" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg" class="cpY4Rk">
                            <g fill="none" fill-rule="evenodd">
                              <path
                                d="M9.466 18.257h4.87c0 1.764 1.42 3.195 3.174 3.195a3.185 3.185 0 0 0 3.175-3.195H22.5c.276 0 .499-.23.499-.496v-5.57l-3.273-4.868h-3.261V4.645a.497.497 0 0 0-.497-.502H1.497A.498.498 0 0 0 1 4.645v13.11c0 .277.219.502.497.502h1.62a3.185 3.185 0 0 0 3.175 3.195 3.185 3.185 0 0 0 3.174-3.195zm6.978-8.381H18.7l2.214 3.057h-4.47V9.876zm2.644 8.381c0 .877-.706 1.588-1.578 1.588a1.583 1.583 0 0 1-1.578-1.588c0-.877.706-1.588 1.578-1.588.872 0 1.578.71 1.578 1.588zm-11.218 0c0 .877-.707 1.588-1.578 1.588a1.583 1.583 0 0 1-1.579-1.588c0-.877.707-1.588 1.579-1.588.871 0 1.578.71 1.578 1.588z"
                                fill="#2874f0"></path>
                            </g>
                          </svg><span>Easily Track Orders, Hassle free Returns</span></li>
                        <li class="YCDg8X"><svg class="cpY4Rk" width="18" height="18"
                            xmlns="http://www.w3.org/2000/svg">
                            <g fill="none" fill-rule="evenodd">
                              <path class="cpY4Rk"
                                d="M8.037 17.546c1.487 0 2.417-.93 2.417-2.417H5.62c0 1.486.93 2.415 2.417 2.415m5.315-6.463v-2.97h-.005c-.044-3.266-1.67-5.46-4.337-5.98v-.81C9.01.622 8.436.05 7.735.05 7.033.05 6.46.624 6.46 1.325v.808c-2.667.52-4.294 2.716-4.338 5.98h-.005v2.972l-1.843 1.42v1.376h14.92v-1.375l-1.842-1.42z">
                              </path>
                            </g>
                          </svg><span>Get Relevant Alerts and Recommendation</span></li>
                        <li class="YCDg8X"><span class="cpY4Rk">★</span><span>Wishlist, Reviews, Ratings and
                            more.</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="_7XMNLT" *ngIf="isLogged">
          <div class="_1GRhLX _38vNoF">
            <div class="_1QbRjw">
              <h3 class="_2RMAtd"><span class="_1Tmvyj">1</span></h3>
              <div class="_3FNwOm">
                <div class="_1_m52b">Login<svg height="10" width="16" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg" class="_3baQOY">
                    <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" stroke="#2974f0"></path>
                  </svg></div>
                <div class="_2jDL7w">
                  <div><span class="dNZmcB">{{userName}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="_7XMNLT" *ngIf="isLogged">
          <app-customer-address></app-customer-address>
        </div>
        <div class="_7XMNLT" *ngIf="isLogged">
          <app-order-summary></app-order-summary>
        </div>
        <div class="_7XMNLT" *ngIf="isLogged">
          <app-payment-options></app-payment-options>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="_2qUgWb _3uHNGv _3CKRe3" style="height: auto;"
        *ngIf="isLogged && productData!=null && productData.TotalItems">
        <div class="_2zqhDs _1lD380" style="left: auto; top: 248.6px;">
          <div class="_13wOiu"><span class="_2huYiT">Price details</span>
            <div class="_2twTWD">
              <div class="hJYgKM">Price ({{productData.TotalItems}})<span> ₹{{productData.TotalPrice}}</span></div>
              <div class="hJYgKM">Delivery Charges<span><span class="_27kB8M _3Oa-sk">Free</span></span></div>
              <div class="_3xFQAD">
                <div class="hJYgKM">Amount Payable<span> ₹{{productData.TotalPayableAmount}}</span></div>
              </div>
            </div>
            <div class="_34jRkt"><span class="_27kB8M">Your Total Savings on this order <div class="QE-hRv">
                  ₹<span>{{productData.TotalDiscountAmountWithFormat}}</span></div></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->