mat-form-field{
    width: 100%;
}

.my-20{
    margin: 20px 0;
}

.mr-15{
    margin-right: 15px;
}
.mt-10{
    margin-top: 10px;
}

h4{
    font-weight: 500;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
}
@import "../@theme/_theme.scss";
.myprofile{
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        li{
            a{
                padding: 16px 25px;
                font-weight: 400;
                opacity: .8;
                display: block;
                text-decoration: none;
                color: #000;

                &.active{
                    background: $bg;
                    color: #fff;
                }
            }
            border-bottom: 1px solid #ddd;

            &:last-child{
                border-bottom: 0;
            }
            
        }
    }
    
}
