.wishlist{
    margin: 0 -20px;
    h4.h_dt{
        font-weight: 500;
        margin-top: 0;
        padding: 0 20px;
    }
    .order_body{
        border-left: 0;
        border-right: 0;
        border-top: 1px solid #ddd;
    }
    .w_areview{
        mat-icon{
            opacity: .6;
            font-size: 20px;
        }
    }
}
.avg_rating {
	display: flex;
	background: #38a062;
	padding: 3px 10px;
	color: #fff;
	border-radius: 4px;
	font-size: 14px;
	margin-right: 8px;

	mat-icon {
		font-size: 14px;
		height: 14px;
		width: 14px;
		margin-left: 2px;
	}
}
.item_spc
{
	mat-icon {
		font-size: 14px;
		height: 14px;
		width: 14px;
		margin-left: 2px;
	}
}