@import "../@theme/_theme.scss";
.carousel{
    margin:0 -15px;
}
.view_all{
    font-size: 17px;
    font-weight: 400;
    display: flex;
    margin-top: 6px;
    color: $bg;
    text-decoration: none;
    position: relative;
    margin-left: 25px;
    padding-left: 20px;

    &:after {
        content: '';
        background: #bbbbbb;
        width: 1px;
        height: 25px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
    }
}