
.address_details{
    display: flex;
    justify-content: space-between;

    h4{
        font-weight: 500;
        margin: 0;
        font-size: 16px;
        opacity: .9;
        margin-bottom: 7px;
    }

    p{
        font-size: 15px;
        margin: 8px 0;
        b{
            font-weight: 500;
            opacity: .8;
        }
    }
}


.track_item{
    border-top: 1px solid #ddd;
}

.track_details{
    ul{
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        li{
            height: 2px;
            background: #ddd;
            min-width: 100px;
            
            .cricle{
                height: 15px;
                width: 15px;                
                border-radius: 50%;
                background: #ddd;
                margin-top: -6px;
            }
            &:last-child{
                min-width: inherit;
            }
        }
    }
}