
mat-form-field{
    width: 100%;
}

.my-20{
    margin: 20px 0;
}

.mr-15{
    margin-right: 15px;
}
.mt-10{
    margin-top: 10px;
}

h4{
    font-weight: 500;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
}


.address_details{
    display: flex;
    justify-content: space-between;
    border: 1px solid #ddd;
    margin-top:20px;
    padding: 15px;
    h4{
        font-weight: 500;
        margin: 0;
        font-size: 16px;
        opacity: .9;
        margin-bottom: 7px;
    }

    p{
        font-size: 15px;
        margin: 8px 0;
        b{
            font-weight: 500;
            opacity: .8;
        }
    }

    .r_invoice{
        display: flex;
        mat-icon{
            font-size: 20px;
            opacity: .7;
        }
    }
}

.label{
    text-transform: uppercase;
    font-size: 11px !important;
    color: #878787;
    vertical-align: middle;
    padding: 4px 7px;
    border-radius: 2px;
    background-color: #f0f0f0;
    font-weight: 400;
    margin-right: 15px;
    display: inline-block;
}

::ng-deep{
    .mat-menu-panel {
        max-width: 346px !important;
        padding: 15px;
    }
}

.menu_item{
    margin-top: 15px;
    button{
        width: auto;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    }
}