<h4>Manage Addresses</h4>
<form (ngSubmit)="f.form.valid && SaveAddress()" #f="ngForm" class="form-group">
  <div class="row">
    <input type="hidden" [ngModel]="customerAddress.AddressId" [ngModelOptions]="{standalone: true}" />
    <div class="col-sm-6">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Name" [(ngModel)]="customerAddress.Name" name="Name" #Name="ngModel" maxlength="50"
          [ngClass]="{ 'is-invalid': f.submitted && Name.invalid }" required>
      </mat-form-field>
    </div>

    <div class="col-sm-6">
      <mat-form-field class="example-full-width">
        <input matInput AllowNumeric="true" placeholder="Mobile" [(ngModel)]="customerAddress.MobileNumber"
          minlength="10" maxlength="10" name="mobile" #mobile="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && mobile.invalid }" required>
      </mat-form-field>
    </div>

    <div class="col-sm-6">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Pincode" [(ngModel)]="customerAddress.PinCode" name="pin" maxlength="6"
          #pin="ngModel" [ngClass]="{ 'is-invalid': f.submitted && pin.invalid }" required>
      </mat-form-field>
    </div>

    <div class="col-sm-12">
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Locality" [(ngModel)]="customerAddress.Address" name="customeraddress"
          #customeraddress="ngModel" [ngClass]="{ 'is-invalid': f.submitted && customeraddress.invalid }"
          required></textarea>
      </mat-form-field>
    </div>

    <div class="col-sm-6">
      <mat-form-field class="example-full-width">
        <mat-label>City</mat-label>
        <mat-select [(ngModel)]="customerAddress.CityIdWithFormat" name="city" #state="ngModel">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let city of cities" value="{{city.Value}}">
            {{city.Text}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-sm-6">
      <mat-form-field>
        <mat-label>State</mat-label>
        <mat-select [(ngModel)]="customerAddress.StateIdWithFormat" name="state" #state="ngModel"
          (selectionChange)="onStateChange(customerAddress.StateIdWithFormat)">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let state of customerAddress.StateList" value="{{state.Value}}">
            {{state.Text}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </div>
  <div class="form-group my-20">
    <label>Address Type</label>
    <div class="mt-10">
      <mat-radio-group aria-label="Select an option" [(ngModel)]="customerAddress.AddressTypeWithFormat"
        name="addressType" #addressType="ngModel">
        <mat-radio-button class="mr-15" value="1">Home</mat-radio-button>
        <mat-radio-button value="2">Work</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <button mat-button class="btn_green">Save</button>
      <button mat-button type="button" class="btn_blue" (click)="ResetAddress()">Cancel</button>
    </div>
  </div>
</form>
<div *ngIf="customerAddressList!=null && customerAddressList.length>0">
  <div class="address_details" *ngFor="let address of customerAddressList">
    <div class="address" *ngIf="encryptedAddressId!=address.EncryptedAddressId">
      <p class="label">{{address.AddressTypeName}}</p>
      <p><b>{{address.Name}}</b></p>
      <p>{{address.Address}} , {{address.CityName}} - {{address.PinCode}} , {{address.StateName}}</p>
      <p><b>Phone</b> {{address.MobileNumber}}</p>
    </div>
    <div class="r_invoice" *ngIf="encryptedAddressId!=address.EncryptedAddressId">
      <button mat-icon-button (click)="openAddressForm(address.EncryptedAddressId)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>delete</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        Are you sure you want to remove this address?
        <div class="d-flex menu_item">
            <button mat-menu-item>CANCLE</button>
            <button mat-menu-item style="color: red;" (click)="DeleteAddress(address.EncryptedAddressId)">YES,REMOVE</button>
        </div>
      </mat-menu>
    </div>
  </div>
</div>