<div class="myprofile">
  <div class="container inner_container">
    <div class="row">

      <div class="col-sm-4">
        <div class="inner_layout p-0">
          <aside class="side_bar_nav">
            <div class="sidebar_item">
              <ul>
                <li><a [class.active]="currentPage=='profile'" (click)="changeView('profile')">Profile Information</a></li>
                <li><a [class.active]="currentPage=='address'" (click)="changeView('address')">Manage Address</a></li>
                <li><a [class.active]="currentPage=='wishlist'" (click)="changeView('wishlist')">Wishlist</a></li>
                <li><a routerLink="/account/orders">Orders</a></li>
              </ul>
            </div>
          </aside>
        </div>
      </div>

      <div class="col-sm-8">
        <div class="inner_layout">
          <div [ngSwitch]="true">
              <div *ngSwitchCase="currentPage == 'wishlist'">
                <app-wishlist></app-wishlist>
              </div>
              <div *ngSwitchCase="currentPage == 'address'">
                  <app-manage-address></app-manage-address>
              </div>
                <div *ngSwitchCase="currentPage == 'profile'">
                  <app-profile-information></app-profile-information>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




