<div class="_1GRhLX _38vNoF" *ngIf="encryptedAddressId==''">
    <h3 class="_2RMAtd"><span class="_1Tmvyj">4</span><span class="_1_m52b">Payment Options</span></h3>
    <div class="_3K1hJZ"></div>
  </div>
  <div class="_1GRhLX _38vNoF" *ngIf="encryptedAddressId!=''">
    <h3 class="_1fM65H _2RMAtd"><span class="_1Tmvyj">4</span><span class="_1_m52b">Payment Options</span></h3>
    <div class="_1GRhLX _17_fE5">
      <div>
        <!-- <label for="CREDIT" class="_8J-bZE _3C6tOa _2i24Q8"><input type="radio" class="_2haq-9" name="OTHERS"
            readonly="" id="CREDIT" value="on">
          <div class="_6ATDKp"></div>
          <div class="_2o59RR _27CukN">
            <div class="_16sk0J">
              <div class="_3i_pKg">Credit / Debit / ATM Card</div>
            </div>
          </div>
        </label>
        <label for="PHONEPE" class="_8J-bZE _3C6tOa _2i24Q8"><input type="radio" class="_2haq-9" name="OTHERS"
            readonly="" id="PHONEPE" value="on">
          <div class="_6ATDKp"></div>
          <div class="_2o59RR _27CukN">
            <div class="_16sk0J"><img src="https://img1a.flixcart.com/linchpin-web/fk-cp-zion/img/phonepe_logo_28.svg"
                class="ruQLhq">
              <div class="_3i_pKg">
                <div class="_3UTGI1"></div><span class="_2eeQ1A">PhonePe / BHIM UPI</span>
              </div>
            </div>
          </div>
        </label>
        <label for="NET_OPTIONS" class="_8J-bZE _3C6tOa _2i24Q8"><input type="radio" class="_2haq-9" name="OTHERS"
            readonly="" id="NET_OPTIONS" value="on">
          <div class="_6ATDKp"></div>
          <div class="_2o59RR _27CukN">
            <div class="_16sk0J">
              <div class="_3i_pKg">Net Banking</div>
            </div>
          </div>
        </label>
        <label for="EMI_OPTIONS" class="_8J-bZE _3C6tOa _2i24Q8"><input type="radio" class="_2haq-9" name="OTHERS"
            readonly="" id="EMI_OPTIONS" value="on">
          <div class="_6ATDKp"></div>
          <div class="_2o59RR _27CukN">
            <div class="_16sk0J">
              <div class="_3i_pKg">EMI (Easy Installments)</div>
            </div>
          </div>
        </label> -->
        <label for="COD" class="_8J-bZE _3C6tOa _2i24Q8"><input type="radio" class="_2haq-9" name="OTHERS" (change)="OpenCashOnDelivery()"
            readonly="" id="COD" value="on">
          <div class="_6ATDKp"></div>
          <div class="_2o59RR _27CukN">
            <div class="_16sk0J">
              <div class="_3i_pKg">Cash on Delivery
                <div *ngIf="isCOD" >
                  <form class="_1PX0dX">
                    <div class="JqLGrF">
                      <div class="_3931C8"></div>
                      <div class="Pu8Eh8">
                        <div class="Th26Zc"></div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </label>
        <!-- <label for="FLIPKART_CREDIT" class="_8J-bZE _3C6tOa _2pmKiA _2i24Q8"><input type="radio" disabled=""
            class="_2haq-9" name="OTHERS" readonly="" id="FLIPKART_CREDIT" value="on"
            (click)="OpenCashOnDelivery($event)">
          <div class="_6ATDKp"></div>
          <div class="_2o59RR _27CukN">
            <div class="_16sk0J">
              <div class="_3i_pKg"><span><span>Flipkart Pay Later <span class="_1y1WcI">New</span> <span><span
                        class="_3qWajB" id="qmark-bnpl-help">?</span></span></span></span>
                <div class="_3A7TMF Wi1ssf">
                  <div class="_20yN1P kKtM9D"><span class=""><span>Not applicable <span
                          class="_5AHbI1 _3qWajB">?</span></span></span></div>
                </div>
              </div>
            </div>
          </div>
        </label> -->
      </div>
  
  
        <!-- <button class="_2AkmmA _23FrK1 _7UHT_c" tabindex="2" type="button" (click)="DoPayment()" ><span>Confirm
          Order</span></button> -->
          <button class="_2AkmmA _23FrK1 _7UHT_c" tabindex="2" type="button" (click)="SaveOrderDetails()" ><span>Confirm
              Order</span></button>
  
          
    </div>
  </div>