
mat-form-field{
    width: 100%;
}

.my-20{
    margin: 20px 0;
}

.mr-15{
    margin-right: 15px;
}
.mt-10{
    margin-top: 10px;
}

h4{
    font-weight: 500;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
    
    .r_invoice{
        display: inline-block;
        mat-icon{
            font-size: 20px;
            opacity: .7;
        }
    }
}

