<h4>Personal Information 
  <div class="r_invoice">
    <button mat-icon-button *ngIf="!isPersonalInfoEditable" (click)="onProfileEdit()"> <mat-icon>edit</mat-icon> </button>
  </div></h4>
<form (ngSubmit)="profileForm.form.valid && onRegister()" #profileForm="ngForm" *ngIf="profileModel!=null">
  <div class="row">
    <div class="col-sm-6">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="First name" [disabled]="!isPersonalInfoEditable"
          [(ngModel)]="profileModel.FirstName" name="firstName" #firstName="ngModel"
          [ngClass]="{ 'is-invalid': profileForm.submitted && firstName.invalid }" required>
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Last name" [disabled]="!isPersonalInfoEditable" [(ngModel)]="profileModel.LastName"
          name="lastName" #lastName="ngModel" [ngClass]="{ 'is-invalid': profileForm.submitted && lastName.invalid }"
          required>
      </mat-form-field>
    </div>
  </div>
  <div class="form-group my-20">
    <label>Your Gender</label>
    <div class="mt-10">
      <mat-radio-group aria-label="Select an option" [disabled]="!isPersonalInfoEditable"
        [(ngModel)]="profileModel.GenderIdWithFormat" name="genderId" #genderId="ngModel">
        <mat-radio-button class="mr-15" value="1">Male</mat-radio-button>
        <mat-radio-button value="2">Female</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <button *ngIf="isPersonalInfoEditable" mat-button class="btn_green">Save</button>
    </div>
  </div>
</form>
<h4>Email Address 
  <div class="r_invoice">
    <button mat-icon-button *ngIf="!isEmailAddressEditable" (click)="onEmailEdit()"> <mat-icon>edit</mat-icon> </button>
    
  </div></h4>
<form (ngSubmit)="profileForm.form.valid && onEmailChange()" #profileForm="ngForm" *ngIf="profileModel!=null">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email Address" [disabled]="!isEmailAddressEditable"
            [(ngModel)]="profileModel.Email" name="email" #email="ngModel"
            [ngClass]="{ 'is-invalid': profileForm.submitted && email.invalid }" required>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <button *ngIf="isEmailAddressEditable" mat-button class="btn_green">Save</button>
      </div>
    </div>
  </div>
</form>
<h4>Mobile <div class="r_invoice">
  <button mat-icon-button *ngIf="!isMobileEditable" (click)="onMobileEdit()"> <mat-icon>edit</mat-icon> </button>
  
</div></h4>

<form (ngSubmit)="profileForm.form.valid && onMobileChange()" #profileForm="ngForm" *ngIf="profileModel!=null">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <mat-form-field class="example-full-width">
          <input matInput AllowNumeric="true" placeholder="Mobile" [disabled]="!isMobileEditable" minlength="10" maxlength="10"
            [(ngModel)]="profileModel.Mobile" name="mobile" #mobile="ngModel"
            [ngClass]="{ 'is-invalid': profileForm.submitted && mobile.invalid }" required>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <button *ngIf="isMobileEditable" mat-button class="btn_green">Save</button>
      </div>
    </div>
  </div>
</form>
