.wishlist{
    margin: 0 -20px;
    h4.h_dt{
        font-weight: 500;
        margin-top: 0;
        padding: 0 20px;
    }
    .order_body{
        border-left: 0;
        border-right: 0;
        border-top: 1px solid #ddd;
    }
    .w_areview{
        mat-icon{
            opacity: .6;
            font-size: 20px;
        }
    }
}
::ng-deep{
    .mat-menu-panel {
        max-width: 350px !important;
        padding: 15px;
    }
}

.menu_item{
    margin-top: 15px;
    button{
        width: auto;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    }
}