<div class="wishlist" *ngIf="wishList!=null && wishList.length>0">
  <h4 class="h_dt">My Wishlist ({{totalWishCount}})</h4>
  <div class="row">
    <div class="col-12">
      <div class="order_list" *ngFor="let wish of wishList">
        <div class="order_body">
          <div class="item_details" *ngIf="wish.ProductSEOUrl!=''" target="_blank"
            routerLink="/productdetails/{{wish.ProductSEOUrl}}"
            [queryParams]="{p:wish.EncryptedProductId,pd:wish.EncryptedProductDetailsId}">
            <div class="id_img">
              <img src="{{wish.ImageUrl}}" alt="">
            </div>
            <div class="id_details">
              <h4>{{wish.ProductName}}</h4>
              <p><span *ngIf="isPriceVisible" class="cart_price">₹ {{wish.PriceWithFormat}}</span></p>
              <p class="item_spc"><b>Color:</b> {{wish.ProductColor}}</p>
            </div>
          </div>
          
          <div class="item_details" *ngIf="wish.ProductSEOUrl===''" target="_blank"
            routerLink="/productdetails"
            [queryParams]="{p:wish.EncryptedProductId,pd:wish.EncryptedProductDetailsId}">
            <div class="id_img">
              <img src="{{wish.ImageUrl}}" alt="">
            </div>
            <div class="id_details">
              <h4>{{wish.ProductName}}</h4>
              <p><span *ngIf="isPriceVisible" class="cart_price">₹ {{wish.PriceWithFormat}}</span></p>
              <p class="item_spc"><b>Color:</b> {{wish.ProductColor}}</p>
            </div>
          </div>
          <div class="w_areview">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>delete</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                Are you sure you want to remove this product?
                <div class="d-flex menu_item">
                    <button mat-menu-item>CANCLE</button>
                    <button mat-menu-item style="color: red;" (click)="RemoveToWishList(wish.EncryptedId)">YES,REMOVE</button>
                </div>
              </mat-menu>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>