<mat-toolbar class="top-toolbar">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <ul>
          <li><a class="logo" [routerLink]="'/home'"><img src="../../assets/images/logo.png" alt=""></a></li>
          <li class="search_bar">
            <form>
              <input matInput class="form-control" name="search" placeholder="Search..." required="" #searchData />
              <div class="search_btn">
                <button mat-icon-button (click)="searchProduct(searchData)" >
                  <mat-icon>search</mat-icon>
                </button>
              </div>
            </form>
          </li>
        </ul>
      </div>
      <div class="col-md-5">
        <ul class="right_bar">
          <li  *ngIf="!isUserLogged()"><a [routerLink]="" (click)="doLogin()">Login</a></li>
          <li  *ngIf="!isUserLogged()"><a [routerLink]="" (click)="createAccount()">Register</a></li>
          <li class="my_ac" *ngIf="isUserLogged()">
            <a >My Account</a>
            <ul class="my_account">
              <li>
                <a routerLink="/account">
                   My Profile</a>
              </li>
              <li>
                <a routerLink="/account/orders">
                  Orders</a>
              </li>
              <!-- <li>
                <a routerLink="/wishlist"> Whislist</a>
              </li>
              <li>
                <a href="javascript:void(0);">  Notifications
                  <span class="badge badge-pill badge-light pull-right">2</span>
                </a>
              </li> -->
              <li>
                <a href="javascript:void(0);" (click)="logout()">
                  <i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
              </li>
            </ul>
          </li>
          <li>
            <a routerLink="/viewcart">
              <button mat-icon-button matBadge="{{totalItems}}" matBadgePosition="after" matBadgeColor="primary">
                <mat-icon>shopping_cart</mat-icon>
              </button>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</mat-toolbar>