<mat-toolbar class="top-toolbar">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <ul>
          <li><a class="logo" [routerLink]="''"><img src="../../assets/images/logo.png" alt=""></a></li>
          <li class="search_bar">
            <form>
              <input matInput class="form-control" placeholder="Search..." />
              <div class="search_btn">
                <button mat-icon-button>
                  <mat-icon>search</mat-icon>
                </button>
              </div>
            </form>
          </li>
        </ul>
      </div>
      <div class="col-md-5">
        <ul class="right_bar">
          <li><a [routerLink]="" (click)="doLogin()">Login</a></li>
          <li><a [routerLink]="" (click)="createAccount()">Register</a></li>
          <li class="my_ac">
            <a [routerLink]="">My Account</a>
            <ul class="my_account">
              <li>
                <a href="javascript:void(0);">
                   My Profile</a>
              </li>
              <li>
                <a href="javascript:void(0);">
                  Orders</a>
              </li>
              <li>
                <a href="javascript:void(0);"> Whislist</a>
              </li>
              <li>
                <a href="javascript:void(0);">  Notificatins
                  <span class="badge badge-pill badge-light pull-right">2</span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0);">
                  <i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
              </li>
            </ul>
          </li>
          <li><a [routerLink]="">Whislist</a></li>
          <li>
            <a [routerLink]="">
              <button mat-icon-button matBadge="8" matBadgePosition="after" matBadgeColor="primary">
                <mat-icon>shopping_cart</mat-icon>
              </button>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</mat-toolbar>